.statistics-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.general-statistics {
  margin-bottom: 20px;
}

.group-statistics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.group-card {
  width: 100%;
}

.inner-table {
  width: 100%;
  margin-top: 10px;
}

mat-card-title {
  font-size: 1.5rem;
}

mat-card-content h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
